.cls {
  height: 450px;
  border: 1px solid silver;
}

#div2 {
  background-image: url("./../assets/img/background1.jpg");
  background-attachment: fixed;
  background-size: 100%;
}

#div4 {
  background-image: url("./../assets/img/background2.jpg");
  background-attachment: fixed;
  background-size: 100%;
}

#div6 {
  background-image: url("./../assets/img/background3.jpg");
  background-attachment: fixed;
  background-size: 100%;
}

#div1 {
  height: 100px;
}
